h4 {
  color: #eee;
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left:0.7rem;
  padding-right:0.7rem;

  span {
    color:#bb86fc;
  }
}
