<div class="trello-list">
  <h2>{{ list().name }}</h2>
  <div class="cards-list">
    @for (card of cardsList(); track card.id) {
    <app-trello-card
      [card]="card"
      (click)="onCardClick(card.id)"
    ></app-trello-card>
    } @if (cardsList().length === 0) {
    <h1>No cards</h1>
    }
  </div>
  <button
    (click)="openModal()"
    class="btn-secondary"
    [ngStyle]="{ 'margin-top': '0.5rem' }"
  >
    Add Card
  </button>
</div>

<ng-container *ngIf="displayCardForm()">
  <app-modal (closeModal)="closeModal()">
    <app-form-card
      (cardAddedUpdated)="onCardAddedAndClose()"
      [idList]="list().id"
    ></app-form-card>
  </app-modal>
</ng-container>
